/* ----------------------------------------------------
 * Print
 */
body.print {
	padding: 20px;
}


/* ----------------------------------------------------
 * Layout
 */
body {
	padding-top: 50px; /* used by "navbar-fixed-top" of #header_navbar */
}
body > img {
	display: none;
}
blockquote {
	font-size: inherit;
}

h1 {
	border-bottom: 4px double #ccc;
	margin: 20px 0;
	padding: 5px 0;
}

#header {
	border-radius: 0;
	border-width: 0 0 1px 0;
	opacity: 0.9;
	margin-bottom: 0;
	/* z-index: 1; */ /* set z-index if header is not navbar-fixed-top */
}

#content {
	padding: 0 0 50px 0;
	position: relative;
}

#footer {
	font-size: 90%;
	border-radius: 0;
	border-width: 1px 0 0 0;
	margin: 0;
	padding: 15px;
}
#footer_navi {
	padding: 5px;
	text-align: center;
}
#footer_site {
	color: #333;
	padding: 5px;
	text-align: center;
}

/* ----------------------------------------------------
 * Style
 */
.navbar-default .navbar-brand {
	background: url(./logo/flying-bird-blue-48.png) left center no-repeat;
	color: #6495ed;
	font-weight: bold;
	font-size: 22px;
	margin-left: 10px;
	padding: 14px 8px 10px 60px;
	vertical-align: middle;
}
.navbar-default .navbar-text {
	position: absolute;
	font-size: 12px;
	font-style: italic;
	font-family: verdana;
	margin: 30px 0 0 60px;
}
@media (min-width: 768px) {
	.navbar-default .navbar-text {
		margin: 30px 0 0 45px;
	}
}

.matrix-title {
	text-align: center;
	font-size: 70px;
	position: absolute;
	height: 100%;
	width:100%;
	padding: 80px 50px;
}
.matrix-descp {
	color: gold;
	font-size: 60px;
}
@media (max-width: 1199px) {
	.matrix-title {
		font-size: 60px;
		padding: 70px 40px;
	}
	.matrix-descp {
		font-size: 50px;
	}
}
@media (max-width: 991px) {
	.matrix-title {
		font-size: 50px;
		padding: 60px 30px;
	}
	.matrix-descp {
		font-size: 40px;
	}
}
@media (max-width: 767px) {
	.matrix-title {
		font-size: 40px;
		padding: 50px 20px;
	}
	.matrix-descp {
		font-size: 30px;
	}
}

.stitle {
	text-align: center;
	padding: 20px;
	font-size: 2em;
}
.ssales {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 30px 150px;
	font-weight: bold;
}
.ssales-title {
	font-size: 50px;
}
.ssales-descp {
	font-size: 30px;
}
@media (max-width: 767px) {
	.ssales {
		padding: 30px 10px;
	}
	.ssales-title {
		font-size: 28px;
	}
	.ssales-descp {
		font-size: 20px;
	}
}

.sbookmark {
	background-color: #DC143C;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	margin: 30px 0;
	padding: 10px 30px;
	position: relative;
}
.sbookmark i {
	position: absolute;
	left: -10px;
	top: -30px;
	color: #87CEEB;
	font-size: 50px;
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}
@media (max-width: 767px) {
	.sbookmark {
		font-size: 22px;
	}
}

.spoint {
	padding: 10px;
}
.spoint .panel-heading {
	background-color: #FFA500;
	color: #FFF;
	padding: 20px 20px;
	font-size: 26px;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.spoint .panel-heading i {
	font-size: 40px;
}
.spoint .panel-body {
	background-color: #888;
	color: #FFF;
	font-size: 24px;
	padding: 40px;
	min-height: 320px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.tcenter {
	text-align: center;
}
.scell > p {
	background: #EEE8AA;
	font-size: 20px;
	border: solid 1px #ccc;
	border-radius: 10px;
	height: 200px;
	margin: 10px;
	padding: 20px;
}
.intro-video {
	width: 100%;
}

.sbg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.2;
}
.ssystem {
}
.ssystem>.row {
}
.ssystem>.row>div {
	padding: 15px;
}
.ssystem h4 {
	font-weight: bold;
	font-size: 1.5em;
}
.ssystem i.fa {
	font-size: 144px;
	display: block;
	text-align: center;
}
.ssystem p {
	font-size: 1.5em;
}

.service h2 {
	text-align: center;
	margin: 30px 0;
}
.technology h3 {
	text-align: center;
	margin: 30px 0;
}
.technology p {
	text-align: center;
	border: dashed 2px #6A5ACD;
	border-radius: 8px;
}
.technology i {
	display: inline-block;
	font-size: 140px;
	margin: 20px;
}
.technology i.imgicon {
	font-weight: bold;
	width: 140px;
	height: 140px;
	padding: 120px 0 0 0;
	font-size: 20px;
}
.imgicon-azure {
	background: url(img/azure.png) no-repeat top center;
}
.imgicon-spring {
	background: url(img/spring.png) no-repeat top center;
}
.imgicon-struts {
	background: url(img/struts.png) no-repeat top center;
}
.imgicon-mssql {
	background: url(img/mssql.png) no-repeat top center;
}
.imgicon-iis {
	background: url(img/iis.png) no-repeat top center;
}
.imgicon-jenkins {
	background: url(img/jenkins.png) no-repeat top center;
}

.sproduct {
	font-size: 140%;
}
.sproduct p>img {
	width: 100%;
}
.sproduct>.sbg {
	opacity: 0.05;
}

/*--------------------------------------------------
 * p-toolbar (ul)
 * p-navih (ul, ol)
--------------------------------------------------*/
.p-toolbar-wrap {
	text-align: right;
	margin-bottom: 10px;
}
.p-toolbar-wrap > .p-toolbar {
	float: right;
	font-size: 90%;
}
.p-toolbar {
	background-color: #f5f5f5;
	border-radius: 4px;
}
.p-toolbar, .p-navih {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0;
}
.p-toolbar li, .p-navih li {
	border-left: 1px solid #fff;
	border-right: 1px solid #c6bcaa;
	display: inline-block;
	margin: 0;
	padding: 0 1em;
}
.p-toolbar li:first-child, .p-navih li:first-child {
	border-left: none;
}
.p-toolbar li:last-child, .p-navih li:last-child {
	border-right: none;
}
.p-toolbar li > a, .p-navih li > a {
	border-radius: 4px;
	margin: -0.5em -1em;
	padding: 0.5em 1em;
	white-space: nowrap;
}
.p-toolbar li > a:hover {
	text-decoration: none;
	background-color: #e5e5e5;
}

/* -------------------------------------------------------
 * Form
 */
.p-vform.form-horizontal {
}
.p-vform.form-horizontal>.form-group {
	margin: 0;
	padding: 5px 0;
}
.p-vform.form-horizontal>div.form-group {
	border-top: 1px solid #ccc;
}
.p-vform.form-horizontal>div.form-group:first-of-type {
	border-top: 0;
}

/* -------------------------------------------------------
 * Tools
 */
.p-hidden {
	display: none;
}
.p-corner {
	border: solid 1px #eee;
	border-radius: 20px;
	color: #bbb;
	cursor: pointer;
	position: fixed;
	text-align: center;
	width: 40px;
	height: 40px;
}
.p-corner:hover {
	background-color: #4c87bb;
	color: #fff;
}
.p-corner > * {
	font-size: 20px;
	line-height: 40px;
}
.p-corner-tl {
	top: 5px;
	left: 5px;
}
.p-corner-tr {
	top: 5px;
	right: 5px;
}
.p-corner-bl {
	bottom: 5px;
	left: 5px;
}
.p-corner-br {
	bottom: 5px;
	right: 5px;
}

/* -------------------------------------------------------
 * fork me on github
 */
#forkongithub {
	position: fixed;
	display: block;
	top: 50px;
	right: 0;
	overflow: hidden;
	width: 120px;
	height: 120px;
	z-index: 2;
}
#forkongithub a {
	width: 180px;
	position: absolute;
	top: 30px;
	right: -50px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	box-shadow:4px 4px 10px rgba(0,0,0,0.8);
}
#forkongithub a {
	background: #000;
	color: #fff;
	text-decoration: none;
	font-family: arial,sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 1rem;
	line-height: 2rem;
	transition: 0.5s;
}
#forkongithub a:hover {
	background: #c11;
	color: #fff;
}
#forkongithub a::before, #forkongithub a::after{
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}
#forkongithub a::after{
	bottom: 1px;
	top: auto;
}
