</div>
</div>

<div id="footer" class="navbar navbar-default">
	<div id="footer_navi">
		<ul class="p-navih">
			<li><a href="index.html"><i class="fa fa-home"></i> ホーム</a></li>
			<li><a href="company.html"><i class="fa fa-bank"></i> 会社情報</a></li>
			<li><a href="service.html"><i class="fa fa-codepen"></i> 事業内容</a></li>
			<li><a href="product.html"><i class="fa fa-gears"></i> プロダクト</a></li>
			<li><a href="contact.html"><i class="fa fa-envelope-o"></i> お問い合わせ</a></li>
		</ul>
	</div>
	<div id="footer_site">&copy; 2019-2022 飛鳥ソフト</div>
</div>

<div class="p-totop p-corner p-corner-br p-hidden"><i class="fa fa-arrow-up"></i></div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/main.js" type="text/javascript"></script>
</body>
</html>
